{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ program.title }} vient d'être publiée !</h2>

    <p>Pour découvrir cette nouvelle série suit le ien ci-dessous :</p>
    <a href="http://127.0.0.1:8000/program/">{{ program.title }}</a>
{% endblock %}

{% block title %}

{% endblock %}

