{% extends 'base.html.twig' %}

{% block title %}Nouvelle série{% endblock %}

{% block body %}
    <div class="bg-white p-3">
        <h1>Créer une nouvelle série</h1>

        {{ include('program/_form.html.twig') }}

        <a class="btn btn-light m-3" href="{{ path('program_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
