{% extends 'base.html.twig' %}

{% block title %}Les séries{% endblock %}

{% block body %}
    <div class="container bg-white">
        <h2>TOUTES LES SERIES</h2>
        {% for program in programs %}
            <div>
                <h4>{{ loop.index }} - {{ program.title }} - Catégorie : {{ program.category.name }}</h4>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}

