{% extends 'base.html.twig' %}

{% block title %}Les séries{% endblock %}

{% block body %}
    <h1>TOUTES LES SERIES</h1>

    {% for program in programs %}
        <div>
            <h4>{{ loop.index }} / {{ program.title }}<br></h4>
            <h5>Catégorie : {{ program.category.name }}</h5>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}

