{<form method="post" action="{{ path('actor_delete', {'slug': actor.slug}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.slug) }}">
    <button class="btn">Supprimer</button>
</form>
