{% extends 'base.html.twig' %}

{% block body %}

        <div class="container text-center m-4">
                <h1 class="text-success">BIENVENUE SUR WILD SERIES !</h1><br>
                <div><img src="{{ asset('build/images/series-a-regarder-en-anglais-1.jpg') }}"></div>
                <br>
                <div><img src="{{ asset('build/images/media2.jpg') }}"></div>
                <br>
        </div>
{% endblock %}
